################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/APIAutomation/FileContentIndex/0153868a-54dc-4387-a3e0-b1776528fe82.vsidx
